{% extends 'layouts/base.html.twig' %}

{% block title %}Sharin' is caring!{% endblock %}

{% block body %}
<h1>{{pluralize (pins|length, 'Pin','Pins') }} </h1>

    {% for pin in pins %}
    <article> 
    <h2> <a href="/pins/{{pin.id }}"> {{pin.title}}</h2>
    <p>{{pin.description|u.truncate(20,'...',false )}}</p>
    <p>Submitted {{pin.createdAt|ago}}</p>
    </article>
    {% endfor %}
{% endblock %}
